.collapse.about {
  flex-direction: column;
  width: 71%;
  margin: auto;
  row-gap: 1.87rem;
  .collapse__button {
    font-size: 1.5rem;
  }
  // .collapse__content {
  //   height: auto;

  //   padding-top: 1rem;
  //   padding-bottom: 1rem;
  // }
}

// _____ RESPONSIVE _____
@media #{$mobile-screen} {
  .collapse.about {
    .collapse__button {
      font-size: 13px;
    }
  }
}
