@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  color: $color-text;
}

ul {
  list-style-type: none;
}
