/* ______ COLORS _____ */
$color-text: #FF6060;
$color-background: #F7F7F7;
$color-footer: #E5E5E5;
$color-white: #FFFFFF;
$color-black:   black;
$color-empty-star : #E3E3E3;

/* _____ MEDIA QUERIES _____ */
$mobile-screen: "screen and (max-width: 992px)";
$mobile-screen: "screen and (max-width: 768px)";