.collapse {
  &__container {
    width: 100%;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    height: 52px;
    color: $color-white;
    background-color: $color-text;
    line-height: 52px;
    font-size: 1.12rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 1rem;
  }
  &__content {
    background-color: $color-background;
    padding-top: 40px;
    height: 249px;
    border-radius: 5px;
    p {
      padding-left: 20px;
      padding-right: 20px;
      color: $color-text;
      font-size: 1.12rem;
    }
  }
}
// _____ RESPONSIVE _____
@media #{$mobile-screen} {
  .collapse {
    &__container {
      margin-bottom: 25px;
    }
    &__content {
      padding-top: 22px;
    }
  }
}
